name: CD Pipeline

on:
  push:
    branches: ["main", "development"]
  workflow_call:

jobs:
  ci:
    name: Call CI workflow
    uses: ./.github/workflows/ci.yml
  deploy: 
    name: Deploy Services
    needs: [ci]
    uses: ./.github/workflows/helm-deploy.yml