name: Build and Push Docker Images

on:
  workflow_call:
    secrets:
        DOCKERHUB_USERNAME:
          required: true
        DOCKERHUB_TOKEN:
          required: true

env:
  IMAGE_NAME: the-store

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [cart, catalog, checkout, load-generator, orders, ui]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./src/${{ matrix.service }}
          file: ./src/${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/the-store:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/the-store:${{ github.sha }}
