name: Deploy to Kubernetes cluster with Helm

on:
  workflow_call:
    secrets:
        DOCKERHUB_USERNAME:
          required: true
        KUBECONFIG:
          required: true
        AWS_ACCESS_KEY_ID:
          required: true
        AWS_SECRET_ACCESS_KEY:
          required: true

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            cart: "src/cart/**"
            catalog: "src/catalog/**"
            checkout: "src/checkout/**"
            load-generator: "src/load-generator/**"
            orders: "src/orders/**"
            ui: "src/ui/**"

  deploy: 
    runs-on: ubuntu-latest
    needs: detect-changes
    if: needs.detect-changes.outputs.changed != '[]'
    strategy:
      matrix:
        service: ${{ fromJson(needs.detect-changes.outputs.changed) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Set up Kubectl
        uses: azure/setup-kubectl@v4

      - name: Create kubeconfig file
        run: echo "${{ secrets.KUBECONFIG }}" > ${{ github.workspace }}/kubeconfig
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # tendria que hacerse solo si no esta creado (chequeable con status(?))
      # verificar tema namespace
      - name: Deploy services
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          KUBECONFIG: ${{ github.workspace }}/kubeconfig
        run: |
          cd the-store-chart 
          helm dependency build
          helm upgrade --install the-store-chart . \
          --set image.repository=$DOCKERHUB_USERNAME/the-store \
          --set image.tag=latest \
          --namespace default \
          --kubeconfig $KUBECONFIG



